
.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 200px;
    margin-right: 200px;
    border: 2px;
    background-color: aliceblue;
}

.numbers-container, .operations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    justify-content: center;
    padding: 20px;
    background-color: grey;
}

.numbers-container {
    flex: 2;
}
.operations-container {
    flex: 1;
}

.number-buttons, .operations {
    /* margin: 500px; */
    flex: 0 0 calc(33% - 10px);
    height: 200px;
    cursor: pointer;
    font-size: 50px;
}

.operations {
    flex: 0 0 calc(50% - 10px);
}

.screen {
    display: flex;
    height: 50px;
    justify-content: center;
    font-size: 50px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: aliceblue;
}

